{% extends "base.html.twig" %}

{% block stylesheets %}
      <style type = "text/css">
         body {
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px;
         }
         label {
            font-weight:bold;
            width:100px;
            font-size:14px;
         }
         .box {
            border:#666666 solid 1px;
         }
      </style>
{% endblock %}

{% block body %}
	
	  <div align = "center">
         <div style = "width:300px; border: solid 1px #333333; " align = "left">
            <div style = "background-color:#333333; color:#FFFFFF; padding:3px;"><b>Login</b></div>
				
            <div style = "margin:30px">
               
               <form action = "{{ path('login_check') }}" method = "post">
                  <label>UserName  :</label><input type = "text" name = "_username" class = "box"/><br /><br />
                  <label>Password  :</label><input type = "password" name = "_password" class = "box" /><br/><br />
                  <input type = "submit" value = " Submit "/><br />
               </form>

			   	{# Se introduce el posible mensaje de error si existiese #}
				{% if error %}
				<div style = "font-size:11px; color:#cc0000; margin-top:10px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
            </div>
         </div>
      </div>
{% endblock %}
